<main class="page__main">
 <section class="">
    <div class="form__container"></div>
      <form class= "form" action= "/signup" method="post">
        <label for="searchInput"></label>
        <input class="js-searchInput form__search--input" type="text" id="searchInput" placeholder="La casa de papel"/>
        <label for="searchBtn"></label>
        <input class= "js-searchBtn form__search--btn" type="submit" id= "searchBtn" value= "Search"/>
      </form>
    <div class="list__container">
      <ul class="filmlist js-filmList">
      </ul>
    </div>
  </section>
  <aside>
    <h2 class="aside__title">Mis series favoritas</h2>
    <ul class="favouritesList js-favouritesList"></ul>
  </aside>
</main>
