<main class="page__main">
  <section class="searcher">
    <form class= "js-form form">
      <label for="searchInput"></label>
      <input class="js-searchInput form__search--input" type="text" id="searchInput" value="" placeholder="La casa de papel"/>
      <button class= "js-searchBtn form__search--btn" type="submit" >Search</button>
    </form>
    <div class=" list__container">
      <ul class="serieList js-serieList">
      </ul>
    </div>
  </section>
  <aside class= "aside">
    <h2 class="aside__title">Mis series favoritas</h2>
    <ul class="favouriteSerieList js-favouriteSerieList"></ul>
  </aside>
</main>
