<main class="page__main">
  <section class="formContainer">
    <form class= "js-form form">
      <label for="searchInput"></label>
      <input class="js-searchInput form__search--input" type="text" id="searchInput" value="" placeholder="La casa de papel"/>
      <button class= "js-searchBtn form__search--btn" type="submit">Buscar</button>
    </form>
  </section>
  <section class=" list__container">
    <ul class="serieList js-serieList" >
    </ul>
  </section>
  <aside class= "js-aside aside">
    <h2 class="aside__title">Mis series favoritas</h2>
    <ul class="aside__favouriteSerieList js-favouriteSerieList"></ul>
  </aside>
</main>
