.header{
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: 80px;
  &__title{
  font-size: 70px;
  color: rgb(90, 72, 90);
  }
  &__subtitle{
    font-size: 20px;
    color: rgb(155, 130, 155);
    text-transform: uppercase;
  }
  &__line--left{
    color: rgb(90, 72, 90);
  }
  &__line--right{
    color: rgb(90, 72, 90);
  }
}
