
.page__main{
  display: flex;
  justify-content: space-around;
  flex-direction: row-reverse;

}

/* .form {
  position: absolute;
  top: 120px;
  left: 40px;

} */
.serieList {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 7px;
}

.serieElement {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  margin: 20px;
  text-decoration: none;
  width: 240px;
  height: 390px;
  background-color: rgb(173, 135, 173);
  color: black;
} 

.serieTitle {
  margin-top: 15px;
  text-align: center;
  height: 60px;
}


.favouriteSerieList{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgb(172, 241, 235);
}

.favouriteSeriesTitle{
  font-size: 16px;
  margin-left: 5px;
  

}

.favouriteSeries{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin: 20px;
  text-decoration: none;
  width: 240px;
  height: 200px;
  background-color: rgb(78, 194, 165);
  color: black;
}

.favouriteSeriesImg {
  width: 100px;
  height: 150px;
}

.hidden {
  display: none;
}

.classFavourite {
  background-color: rgb(164, 209, 209);
  color: blue;
}

.btnRemove {
  width: 22px;
  height: 22px;
  margin: 10px;
  border-radius: 32%;
  background-color: transparent;
  
  align-items: center;
  justify-content: center;
 
  &:hover{
    background-color:blue;
  }
}